{% extends "base.html" %}

{% block title %}
	create_trip
{% endblock %}

{% block login_out %}
  <form action="logout" id="logout">
    <input class="navbar-btn" id="logout-button" type="submit" value="Logout">
  </form>
{% endblock %}

{% block header %}
	{{ super() }}

	<div class="navigation">
		<a href="{{ url_for('trips') }}">Home</a>
		<!-- <a href="{{ url_for('create_trip') }}">Create a Trip</a> -->
	</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Add a New Trip</h2>
    <form action="" method="post" name="create_trip">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
        	Trip Name:<br>
        	{{ form.trip_name(size=120) }}<br>
        </p>
        <p>
        	Destination:<br>
          {{ form.destination(size=120) }}<br>
        </p>
        <p>
          Choose a friend: <br>
          {{ form.friends }}
        </p>
      <!-- <label class="survey-item">Choose a Friend<select name="friend">  -->
      <!-- TODO: Populate from user table -->
       <!--  <option value="anna">anna</option>
        <option value="carlo">carlo</option>
        <option value="daniel">daniel</option>
        <option value="malavika">malavika</option>
        <option value="parv">parv</option>
        <option value="testuser">testuser</option>
      </select></label> -->
      </div>
      <div class="divider"></div>
      <div class="section">
        <!-- Additional form fields for the Address should go here -->
      </div>
      <p><input type="submit" value="Create Trip"></p>
    </form>
  </div>
</div>
{% endblock %}
