{% extends "base.html" %}
{% block title %}
	Trips
{% endblock %}

{% block content %}
<h1> Hi {{ name }} </h1>
<form action="create_trip_button" id="create_trip_button">
	<input class="action-button" id="create-trip-button" type="submit" value="Create Trip">
</form>

        <h3>Upcoming Trips!</h3>
        <table id="trips">
          <thead>
            <tr>
              <th data-field="trip_name">Name of Trip</th>
              <th data-field="destination">Destination</th>
              <th data-field="friend">Travel Buddy</th>
              <th id="remove-button"><th>
            </tr>
          </thead>
          {% for trip in trips %}
            <tr>
              <td>{{ trip['trip_name'] }}</td>
              <td>{{ trip['destination'] }}</td>
              <td>{{ trip['friend'] }}</td>
              <td>
                <a href="{{ url_for('remove', value=trip['trip_name']) }}">Remove</a>
              </td>
            </tr>
          {% endfor %}
          </table>
{% endblock %}